header {
    position: relative;
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 50px;
}

nav ul li {
    font-size: 18px;
    font-family: "inter", sans-serif;
    font-weight: 400;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}