header{
    position: relative;
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    
    font-size: ;
    font-family: inter;
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}