header{
    position: relative;
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    
    font-size: 18px;
    font-family: "inter", sans-serif;
}
header .ac{
    font-size: 24px;
    font-weight: 700;
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 50px;
}