header{
    display: flex;
    justify-content: space-between;

    ma
    position: relative;
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}